extends ../../layouts/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination

block main

  h2.mb-4= pageTitle

  .row.mb-3.align-items-center
    .col-md-6
        +search(keyword)
    .col-md-6.text-right
      a.btn.btn-primary(href="/admin/task/create") Thêm Task

  .mb-3
    +filter-status(filterStatus)

  .table-responsive
    table.table.table-bordered.table-hover
        thead.bg-dark.text-white
            tr
                th STT
                th Tên công việc
                th Nội dung
                th Số NV
                th Trạng thái
                th Ngày bắt đầu
                th Ngày kết thúc
                th Hành động

        tbody
        each task, index in tasks
            tr
            td.text-center= index + 1
            td= task.title
            td= task.description
            td.text-center= task.quantityMember

            td.text-center
                if task.status == "completed"
                    a(
                    href="javascript:;"
                    data-status=task.status
                    data-id=task._id
                    button-change-status
                    class="badge badge-primary"
                    ) Hoàn thành
                else
                    a(
                    href="javascript:;"
                    data-status=task.status
                    data-id=task._id
                    button-change-status
                    class="badge badge-secondary"
                    ) Chưa hoàn thành

            td.text-center= task.startDate.toLocaleDateString("vi-VN")
            td.text-center= task.endDate.toLocaleDateString("vi-VN")

            td.text-center
                a.btn.btn-info.btn-sm.mr-1(href=`/admin/task/detail/${task._id}`) Chi tiết
                a.btn.btn-warning.btn-sm.mr-1(href=`/admin/task/edit/${task._id}`) Sửa
                a.btn.btn-danger.btn-sm(href=`/admin/task/delete/${task._id}`) Xóa

    .card.mt-3
        .card-body.d-flex.justify-content-center
            +pagination(pagination)
    form(
        action="",
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/task/change-status`
        ) 

        script(src="/admin/js/task.js")